.cart__list {
   margin: 0;
   height: 500px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   flex-wrap: nowrap;
   overflow-y: scroll;
}

.cart__list ul {
   list-style: none;
   padding-left: 1rem;
}

.cart__list li {
   margin-bottom: 2rem;
}

.cart__title {
   padding: 0.6rem;
   margin-left: 3rem;
   text-align: left;
}

.cart__text {
   font-size: 1rem;
}

.cart__line{
   margin: 0.5rem;
   background-color: #D7D7F9;
   height: 1px;
}