.card {
   height: 75vh;
   min-width: 375px;
   min-height: 812px;
   max-height: 75vh;
   max-width: 450px;
   background: #FFFFFF;
   box-shadow: 0px 0px 70px #C7CBE3;
   border-radius: 25px;
   padding: 0%;
}