.cart-item {
   display: flex;
   width: 100%;
   height:100px;
   max-height: 100px;
}

.cart-item__img {
   position: relative;
}

.cart-item__img img {
   height: 70%;
}

.cart-item__img span {
   position: absolute;
   height: 25px;
   width: 25px;
   top:15px;
   left: 17px;
   border-radius: 100%;
   color:white;
   background-color: black;
   padding: 0.4rem;
}

.cart-item__info {
   width: 70%;
   margin-left: 1rem;
   display: flex;
   text-align: left;
   flex-direction: column;
   justify-content: center;
}

.cart-item__info p[class='bold']{
   font-weight: 700;
}

.cart-item__info--buttons {
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.cart-item__info--buttons h1{
   margin: 0;
   padding: 0;
   text-align: end;
}

.cart-item__info--buttons span{
   margin: 0 0.8rem;
   padding: 0;
   font-weight: 700;
   font-size: 1.3rem;
   vertical-align:bottom;
}

.cart-item__info--buttons button{
   height: 32px;
   width: 32px;
   border: none;
   font-weight: 700;
   background: #6B00F5;
   border-radius: 20px;
   position: relative;
   cursor: pointer;
}

.cart-item__info--buttons button:hover{
   outline: none;
   transition: 0.7s;
   transform: scale(1.3);
   background-color: rgba(0,0,0,0.8)

}

.cart-item__info--buttons button img{
   position:absolute;
   top:7px;
   left: 8px;
}

.cart-item__info--buttons button img[class='right']{
   position:absolute;
   top:7px;
   left: 11px;
}






